BODY {background-image: url(img/200.png)}
H2 {color:black;font-family:Times New Roman;}
h1 {color:black; font-size:12pt;font-family:Times New Roman; }
h2 {color:black; font-family:Times New Roman; }
h3 {color:black; font-family:Times New Roman; }
h4 {color:black; font-family:Times New Roman; }